<h1>Listing quotes</h1>

<div id="quotewall">
<!--  <div class="quote">
    <div class="header">
      <div class="alleft">
      </div>
      <div class="alright">
      </div>
    </div>
    <div class="main">
    </div>
  </div>-->
<%= page_entries_info @quotes %>
<%= will_paginate @quotes %>
  <% @quotes.each do |quote| %>
    <div class="quote">
      <div class="header">
        <div class="alleft">
          <%= link_to image_tag('upboat.png'), shortvote_path({:direction => 'up', :quote => quote.id, :page => params[:page]}) %>
          <%= quote.votes.up.count %>
          <%= link_to image_tag('downboat.png'), shortvote_path({:direction => 'down', :quote => quote.id, :page => params[:page]}) %>
          <%= quote.votes.down.count %>
        </div>
        <div class="alright">
          Total Votes: <%= quote.votes.count %>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="main">
        <%= simple_format h quote.quote %>
      </div>
    </div>
  <% end %>
</div>

<div id="sbar">
  <div class="box">
    <span class="title">QDB Statistics</span>
    <p>Total quotes: <%= @quotes.count %></p>
  </div>

  <div class="box">
    <%= render 'form' %>
  </div>
</div>
<br />
