<p id="notice"><%= notice %></p>

<p>
  <b>Ip address:</b>
  <%= @vote.ip_address %>
</p>

<p>
  <b>Direction:</b>
  <%= @vote.direction %>
</p>

<p>
  <b>Quote:</b>
  <%= @vote.quote_id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
